dolphin-2.5-mixtral-8x7b.Q4_K_M.llamafile llava-v1.5-7b-q4-main.llamafile llava-v1.5-7b-q4-server.llamafile mistral-7b-instruct-v0.1-Q4_K_M-main.llamafile
llamafile-0.1.zip llamafile-llava-cli-0.1 llamafile-llava-quantize-0.1 llamafile-main-0.1 llamafile-quantize-0.1 llamafile-server-0.1
