# These are the variables you can set.
BATCH_SIZE=
CONTEXT_LENGTH=
DEBUG=
ERROR_OUTPUT=
GRAMMAR_FILE=
LOG_DISABLE=
MODEL_TYPE=
NGL=
N_PREDICT=
PRIORITY=
SILENT_PROMPT=
SYSTEM_MESSAGE=
TEMPERATURE=
VERBOSE=
VIA_API_CHAT_BASE=
