# These are the variables you can set iin ./env.sh or in the environment
# If you don't want these to override current env,
# use the bash ":-" variable parameter as in MODEL_TYPE=${MODEL_TYPE:-mistral}

# BATCH_SIZE=
# CONTEXT_LENGTH=
# DEBUG=
# ERROR_OUTPUT=
# GRAMMAR_FILE=
# LOG_DISABLE=
# MODEL_TYPE=
# NGL=
# N_PREDICT=
# PRIORITY=
# SILENT_PROMPT=
# SYSTEM_MESSAGE=
# TEMPERATURE=
# VERBOSE=
# VIA_API_CHAT_BASE=
# LLM_ADDITIONAL_ARGS
# LLAMAFILE_MODEL_RUNNER=
# FORCE_MODEL_RUNNER=
